.main-container {
  display: flex;
}

.menu {
  width: fit-content;
}

.representative-container {
  display: flex;
  height: fit-content;
  width: fit-content;
  padding: 10px;
}

.stocks-held-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: inherit;
  margin-top: 10px;
}