.create-form-container {
    padding: 10px;    
}

.create-form {
    border-radius: 0px 0px 8px 8px;
    border: 1px solid #292934;
    border-top: none;
    background: #12121b;
    padding: 12px;
    margin-top: 50px;		

    display: flex;
    flex-direction: column;
		margin-top: 50px;
}

.enter-name-prompt {
    width: 100%;
    display: flex;
    align-items: center;
    color: rgb(200, 200, 200);
    font-size: 15px;
    font-weight: bold;
    margin: 10px 0px 20px 0px;
}

.border {
    border-bottom: 1px solid #292934;
    width: 100%;
    height: 16px;
}


.comment-prompt {
    width: 100%;
    display: flex;
    color: rgb(200, 200, 200);
    font-size: 15px;
    font-weight: bold;
    margin: 20px 0px 5px 0px;
}

.create-form input{
    padding: 15px 10px 15px 10px;
    border-radius: 8px;
    border: 1px solid #292934;
    color: rgb(200, 200, 200);
    margin-bottom: 10px;
    background: #0b0b12;
}

.create-form button {
    border: none;
    color: white;
    font-weight: 600;
    border-radius: 7px;
    background: #7450E9;
    margin: 16px 0px 12px 0px;
    font-size: 14px;
    padding: 12px 16px 12px 16px;
}


#plus-button {
    margin: 0;
    width: 24px;
    height: 24px;
    padding: 8px;
    display: flex;
    background: none;
    margin-left: auto; 
    align-items: center;
    justify-content: center;
    border: 1px solid #292934;
}