.login-page {
	display: flex;
	flex-flow: column;
	align-items: center;
}

.login-title-container {
	display: flex;
	flex-flow: column;
	align-items: center;
}
.container {
	display: flex;
	flex-flow: column;
	align-items: center;
}

#login-Email, #login-Password{
	margin-right: 0.5rem;
}

#login-btn{
	margin-bottom: 1rem;
}
