.update-page {
	display: flex;
	flex-flow: column;
	align-items: center;
	height: 94vh;
	font-family: "Yeseva One", cursive;
	color:rgb(32,58,95);
}

.update-form {
	width: 60%;
	display: flex;
	flex-direction: column;
	align-items: center;
	max-width: 450px;
	font-family: "Yeseva One", cursive;
}

#update-name, #update-profilePic-button{
	display: flex;
	flex-flow: column;
	align-items: center;
	padding: 8px;
	border-radius: 5px;
	border-style: solid;
	border-color: rgb(32,58,95);
	margin-bottom: 15px;
	background-color: white;
	max-width: 72%;
}

#update-profilePic-button{
	display: flex;
	flex-flow: column;
	align-items: center;
	padding: 8px;
	border-radius: 5px;
	border-style: solid;
	border-color: rgb(32,58,95);
	margin-bottom: 15px;
	background-color: white;
	max-width: 72%;
}

#update-button {
	padding: 6px;
	font-family: "Yeseva One", cursive;
	color: rgb(32,58,95);
	border-radius: 5px;
}

.form-container input {
	border: 1px solid #292934;
	border-radius: 7px;
	background: #0b0b12;
}

.title-container {
	display: flex;
	flex-direction: column;
	width: 100%;
	align-items: flex-start;
}

.update-form {
	display: flex;
	flex-direction: column;
	width: 100%;
}


