.main-container {
	display: flex;
	flex-direction: row;
}

.rep-header {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.all-representatives-container {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	margin-top: 0px;
}

.representative-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 15px;
	width: 250px;
	height: 250px;
}

.rep-contain {
	max-width: 275px;
	max-height: 275px;
	min-width: 275px;
	min-height: 275px;
}
.head-shot {
	width: 200px;
	height: 200px;
}

.test:hover {
	background-image: url(../../assets/Flag/USA-Flag.svg.png);
	background-size: cover;
	opacity: 1;
	margin: 0;
}

.test:hover .rep-contain{
	background-color: rgba(235, 224, 205, 0.7);
	margin: 0;
	padding: 25px;
}
.test:hover .representative-name, .test:hover .head-shot {
	color: black;
	opacity: 1;
}