.stock-graph-container {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 85%;
	min-height: 35vh;
	padding-bottom: 10px;
}

.waiting-txt {
	font-size: 40px;
	margin: 20px 180px;
}

.stock-graph {
	width: 85%;
	min-height: 35vh;
}

.lower-section{
	display:flex;
	flex-direction:column;
}


.percent-txt{
	color: rgb(32,58,95);
	margin-bottom: 25px;
}

.transaction-container{
	display: flex;
	flex-direction: column;
	color: rgb(32,58,95);
	font: 20px;
}