.stock-graph-container {
  margin: 20px 180px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70%;
  min-height: 35vh;
  padding-bottom: 20px;
}

.waiting-txt {
  font-size: 40px;
  margin: 20px 180px;
}

.stock-graph {
  width: 70%;
  min-height: 35vh;
}