.stock-graph-container {
  margin: 20px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 35vh;
  border-bottom: 1px black solid;
  padding-bottom: 20px;
}

.waiting-txt {
  font-size: 50px;
}

.stock-graph {
  width: 80%;
  min-height: 35vh;
}