.lower-section {
    display: flex;
    flex-direction: column;
}

.rep-list-txt{
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
}

.sen-list-txt{
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
margin-top: 10px;
}

.sen{
    display: flex;
    flex-direction: row;
}

.rep{
    display: flex;
    flex-direction: row;
}
/* 




.representative-container{

}

.senator-container{

}

.head-shot{

}

.representative-name{

}

.senator-name{

} */ 