/* SIDE PANEL CSS */

.menu {
  width: 15%;
  height: 100%;
  text-align: left;
  border: 1px solid #292934;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

.menu-header {
  border-bottom: 1px solid #292934;
  color: yellow;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  background: linear-gradient(180deg, rgba(191,10,48,1) 0%, rgba(0,40,104,1) 50%);
}

.menu-items {
  display: flex;
  flex-direction: column;
  height: 79vh;
  padding: 10px;
}

.menu-items a, button {
  width: 100%;
}

.menu-items button {
  color: white;
  background: #12121b;
  border: 1px solid #292934;
  border-radius: 8px;
  padding: 10px;
}

.spacing-block {
  margin-bottom: 60px;
}