.nav-bar {
	height: 70px;
	display: flex;
	align-items: center;
	border-bottom: 1px solid rgb(246, 224, 179);
	background: linear-gradient(
		90deg,
		rgb(71, 99, 136) 0%,
		rgb(180, 46, 43) 100%
	);
}

.logo {
	display: flex;
	align-items: center;
	text-decoration: none;
}
.nav-ul-container {
	display: flex;
	width: 100%;
}
.nav-item-container {
	display: flex;
	width: inherit;
	justify-content: space-between;
	margin: 0 20px;
	padding: 0;
	align-items: center;
}

.title {
	font-size: 35px;
	color: rgb(234, 188, 86);
	font-family: "Yeseva One", cursive;
}

.my-profile,
.log-out,
.log-in,
.sign-up {
	display: flex;
	align-items: center;
	color: rgb(246, 224, 179);
	margin: 0px 10px 0;
}

.my-profile-btn,
.log-in-btn,
.sign-up-btn {
	border-radius: 8px;
	padding: 8px;
	background-color: rgb(32, 58, 95);
	color: rgb(246, 224, 179);
	border-color: rgb(246, 224, 179);
	font-family: "Yeseva One", cursive;
}

.log-out-btn {
	border-radius: 8px;
	padding: 8px;
	background-color: rgb(32, 58, 95);
	border-color: rgb(246, 224, 179);
	color: rgb(246, 224, 179);
	font-family: "Yeseva One", cursive;
}

.welcome {
	color: rgb(246, 224, 179);
	margin-right: 25px;
	font-size: 22px;
	font-family: "Yeseva One", cursive;
}

.my-profile-btn:hover,
.log-in-btn:hover,
.sign-up-btn:hover {
	cursor: pointer;
	color: rgba(0, 40, 104, 1);
	border-color: rgba(0, 40, 104, 1);
	background-color: rgb(93, 141, 106);
}

.log-out-btn:hover {
	cursor: pointer;
	background-color: rgb(93, 141, 106);
	border-color: rgba(0, 40, 104, 1);
	color: rgba(0, 40, 104, 1);
}

.right-nav-btn-container {
	display: flex;
	align-items: center;
}

a {
	text-decoration: none;
}
