.profile-page {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.profile-name {
	text-align: center;
	width: 100%;
	font-size: 30px;
}

.update-btn {
	color:black;
	margin-top: 10px;
	background-color: rgba(113, 37, 15, 0.9);
	border: 1px solid #292934;
	border-radius: 8px;
	padding: 10px;
	width: 80%;
}

.profile-head-shot {
	width: 100px;
	height: 100px;
}

.profile-senator-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 150px;
	height: 150px;
}

.profile-senate-contain {
	max-width: 200px;
	max-height: 200px;
	min-width: 200px;
	min-height: 200px;
}

.profile-senator-name {
	font-size: 15px;
	margin: 10px;
	text-align: center;
}

.profile-sen-rep-container {
	width: 50%;
}

img {
	width: 350px;
	margin: auto;
	display: block;
	border-radius: 50%;
}

.profile-image {
	width: 200px;
}

.profile-senator-rep-container {
	display: flex;
	justify-content: center;
	margin-top: 20px;
	width: 100%;
}

.profile-sen-rep-txt {
	width: 100%;
	text-align: center;
}

.profile-inner-sen-rep-container {
	width: auto;
	justify-content: center;
	align-items: center;
	display: flex;
	flex-wrap: wrap;
	margin-top: 30px;
}

.profile-each-rep-container {
	display: flex;
	flex-direction: column;
}

.profile-delete-container {
	display: flex;
	flex-direction: row-reverse;
	width: 100%;
	justify-content: right;
	align-items: flex-end;
	text-align: right;
	margin: 0 0 -30px -30px;
}

.profile-delete-container button {
	z-index: 100;
	width: 20px;
	height: 20px;
	padding: 0;
	text-align: center;
	background-color: red;
	color: white;
}

.profile-delete-container button:hover{
	cursor: pointer;
	background-color: white;
	color: red;
}