main {
	background-color: rgb(235, 224, 205);
	height: 100%;
	min-height: 100vh;
	z-index: 1;
}

.app-nav {
	z-index: 100;
}
.app-main-container {
	display: flex;
	height: auto;
}

.app-side-menu {
	width: fit-content;
	height: auto;
}

.app-main-content {
	width: 100%;
	margin: 0 10px;
}
