.signup-page {
	display: flex;
	flex-flow: column;
	align-items: center;
	height: 94vh;
	font-family: "Yeseva One", cursive;
	color:rgb(32,58,95);
}

.form-container {
	width: 80%;
	display: flex;
	flex-direction: column;
	align-items: center;
	max-width: 450px;
	font-family: "Yeseva One", cursive;
}

#input-Username, #input-Email, 
#input-Password, #select-profilePic-button{
	padding: 8px;
	border-radius: 5px;
	border-style: solid;
	border-color: rgb(32,58,95);
	margin-bottom: 15px;
	background-color: white;
}

#select-profilePic-button{
	font-size: 13px;
}

.signup-title-container {
	display: flex;
	flex-flow: column;
	align-items: center;
	width: 100%;
	
}

#two-titles {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.register-form {
	display: flex;
	flex-direction: column;
	align-items: center;
}


#sign-up-question{
	padding:5px;
	margin: 5px;
	font-size: 15px;
}

#sign-in{
	padding:5px;
	margin: 0px;
	font-size: 15px;
}


#submit-signup-btn {
	padding: 6px;
	font-family: "Yeseva One", cursive;
	color: rgb(32,58,95);
	width: 60%;
	border-radius: 5px;
}


