.signup-page{
    display: flex;
    height: 94vh;
}

.form-container {
    width: 65%;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 450px    
}

.form-container input, select, button {
    padding: 16px;
    font-size: 16px;
    margin-bottom: 16px;
    color: rgb(200, 200, 200);
}

.form-container input {
    border: 1px solid #292934;
    border-radius: 7px;
    background: #0B0B12;
}

.title-container{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: flex-start;
}

.register-form {
    display: flex;
    flex-direction: column;
    width: 100%;
}

#submit-button{
    margin-top: 22px;
    background: #7450E9;
    border: none;
    color: white;
    font-weight: 600;
    border-radius: 7px;
}

#profilePic-button {
    border: 1px solid #292934;
    border-radius: 7px;
    background: #0B0B12;
    color: #757575;
    text-align: left;
}

