.signup-page {
	display: flex;
	height: 94vh;
	font-family: "Yeseva One", cursive;
}

.form-container {
	width: 65%;
	display: flex;
	flex-direction: column;
	align-items: center;
	max-width: 450px;
	font-family: "Yeseva One", cursive;
}

#input-Username, #input-Email, 
#input-Password, #profilePic-button{
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 10px;
	font-size: 16px;
	margin-bottom: 16px;
	color: rgb(230,174,125);
	border-radius: 8px;
}

.signup-title-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	align-items: flex-start;
}

.register-form {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
}

#submit-signup-btn {
	padding: 10px;
	font-size: 16px;
	margin-bottom: 16px;
	color: rgb(230,174,125);
	border-radius: 8px;
	width: 70%;
	text-align: center;
	font-family: "Yeseva One", cursive;
}

#profilePic-button {
	border: 1px solid #292934;
	border-radius: 7px;
	background: rgb(230,174,125);
	color: #757575;
	text-align: left;
}
